
MemorialClock.xcodeproj/xcuserdata/PoohKid.xcuserdatad/xcschemes/xcschememanagement.plist

MemorialClock.xcodeproj/xcuserdata/PoohKid.xcuserdatad/xcschemes/MemorialClock.xcscheme

MemorialClock.xcodeproj/xcuserdata/PoohKid.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist

MemorialClock.xcodeproj/project.xcworkspace/xcuserdata/PoohKid.xcuserdatad/WorkspaceSettings.xcsettings

MemorialClock.xcodeproj/project.xcworkspace/xcuserdata/PoohKid.xcuserdatad/UserInterfaceState.xcuserstate

MemorialClock.xcodeproj/project.xcworkspace/contents.xcworkspacedata

.DS_Store
